.header{
  display: flex; 
}
.header > div{
  flex-grow:1;
  background-color: #682D2D;
  color:white;
}



.stock-container{
  display:flex;
}
.stock-container>div{
  flex-grow:1;
}

.hints{
  display:flex;
  flex-direction:column;
}
.hints>div{
  display:flex;
}
.hints>div>h3{
  flex-grow:1;
}
