.header{
  display: flex; 
}
.header > div{
  flex-grow:1;
  background-color: #682D2D;
  color:white;
}

.stock-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.stock-container >div{
  margin:5px 10px;
}


.hints{
  display:flex;
  flex-direction:column;
  

}

.hints>div{
  flex-grow:1;
}

.hints>div{
  display:flex;
  flex-direction:row;
}
.hints>div>h3{
  flex-grow:1;
}

#nextButton{
  display: block;
  max-width: 300px;
  margin: auto;
  background-color: blueviolet;
}